<sn-menu [orientation]="ui.orientation.vertical"
         [gutter]="ui.gutter.small">
    <sn-menu-item *ngIf="!!user"
                  title="Profile"
                  [icon]="ui.icons.profile"
                  [routerLink]="['/user/profile']"
                  (click)="hide()"></sn-menu-item>
    <sn-menu-item *ngIf="!!user"
                  title="Logout"
                  [loading]="progress.logout"
                  [icon]="ui.icons.logout"
                  (click)="logout(hide)"></sn-menu-item>
    <sn-menu-item *ngIf="!user"
                  title="Login"
                  [icon]="ui.icons.login"
                  (click)="login();hide()"></sn-menu-item>
</sn-menu>
