<sn-app-page-header title="Cart"></sn-app-page-header>

<ng-template #loadingCartTemplate>
    <sn-stack *ngIf="loading; else noProductsInCartTemplate">
        <sn-skeleton [lines]="5"></sn-skeleton>
    </sn-stack>
</ng-template>

<ng-template #noProductsInCartTemplate>
    <sn-empty
            message="Cart is empty">
        <ng-template #emptyDescriptionTemplate>
            <p>Please go to
                <sn-link title="Catalog" [routerLink]="['/']"></sn-link>
                to add some products
            </p>
        </ng-template>
    </sn-empty>
</ng-template>

<sn-block *ngIf="cart?.items.length > 0 && !loading; else loadingCartTemplate"
          [state]="loading ? ui.state.loading : null"
          [width]="ui.width.fluid"
          [features]="[ui.feature.adapted]">
    <sn-stack
            *ngFor="let item of cart.items"
            [orientation]="ui.orientation.horizontal"
            [align]="ui.align.center"
            [padding]="ui.gutter.small">
        <sn-picture
                [title]="item.product.title"
                [alt]="item.product.title"
                [src]="item.product.img"
                width="100px"
                height="100px">
        </sn-picture>
        <h3>{{ item.product.title }}</h3>
        <span>{{ item.quantity }} x {{ item.product.price | currency }}</span>
        <h3>{{ item.amountTotal | currency }}</h3>
        <sn-button
                [scheme]="ui.scheme.fail"
                [outline]="ui.outline.ghost"
                [icon]="ui.icons.delete"
                (click)="deleteItem(item.product.id)">
        </sn-button>
    </sn-stack>
    <sn-stack
            [orientation]="ui.orientation.horizontal"
            [justify]="ui.justify.end">
        <h3>Total: {{ cart.totalCost | currency }}</h3>
    </sn-stack>
    <ng-template #blockFooterTemplate>
        <sn-stack
                [orientation]="ui.orientation.horizontal"
                [justify]="ui.justify.end">
            <sn-button
                    [routerLink]="['checkout']"
                    text="Checkout">
            </sn-button>
            <sn-button
                    [scheme]="ui.scheme.fail"
                    [outline]="ui.outline.ghost"
                    text="Clear Cart"
                    (click)="clearCart()"></sn-button>
        </sn-stack>
    </ng-template>
</sn-block>
