<sn-app-content>
    <sn-app-body>
        <sn-breadcrumb></sn-breadcrumb>
        <sn-container>
            <router-outlet></router-outlet>
        </sn-container>
    </sn-app-body>
    <sn-app-footer>
        <small>Shope 2021</small>
    </sn-app-footer>
</sn-app-content>


