<sn-app-layout [position]="ui.placement.fixed">
    <sn-app-busyness></sn-app-busyness>

    <sn-app-header>
        <ng-template #headerLogoTemplate></ng-template>

        <sn-menu #headerTopMenu>
            <sn-menu-item title="Catalog"
                          [icon]="ui.icons.home"
                          [link]="['/']"></sn-menu-item>
        </sn-menu>

        <ng-template #headerActionsTemplate>
            <sn-app-header-actions>
                <sn-app-header-action>
                    <ng-template #actionLabelTemplate>
                        <sn-icon [icon]="ui.icons.money"
                                 [routerLink]="['/cart']">
                        </sn-icon>
                        <sn-badge *ngIf="cart?.totalQuantity > 0"
                                  [value]="cart?.totalQuantity"
                                  [position]="ui.position.inline"
                                  [color]="ui.color.white">
                        </sn-badge>
                    </ng-template>

                    <ng-template #actionContentTemplate>
                        <app-cart-action-menu [cart]="cart"></app-cart-action-menu>
                    </ng-template>
                </sn-app-header-action>
            </sn-app-header-actions>
        </ng-template>

        <ng-template #headerUserbarTemplate>
            <sn-app-header-userbar>
                <span data-name *ngIf="!!user">{{ user.firstName }}</span>

                <ng-template #userbarAvatarTemplate>
                    <sn-avatar [image]="user?.avatar"
                               [name]="user?.firstName"
                               [surname]="user?.lastName"
                               [size]="ui.size.small"></sn-avatar>
                </ng-template>

                <ng-template #userbarMenuTemplate let-hide="hide">
                    <app-user-menu [user]="user" [hide]="hide"></app-user-menu>
                </ng-template>
            </sn-app-header-userbar>
        </ng-template>
    </sn-app-header>

    <router-outlet></router-outlet>

</sn-app-layout>
