@import "node_modules/@esanum/ui/lib/assets/styles/sn-variables";
@import "node_modules/@esanum/ui/lib/assets/styles/sn-mixins";

[data-name] {
  color: $sn-white-color;
  @include max-for-tablet() {
    color: $sn-primary-color;
  }
}
