<sn-card [width]="ui.width.fluid">
    <ng-template #cardTitleTemplate>
        <h2>Order #{{ order.id }}
            <sn-badge
                    [position]="ui.position.inline"
                    color="primary"
                    [text]="order.status">
            </sn-badge>
        </h2>
    </ng-template>
    <sn-row>
        <sn-col [tablet]="6"
                [mobile]="12">
            <h3>Info: </h3>
            <sn-stack [orientation]="ui.orientation.vertical">
                <span><strong>First Name: </strong>{{ order.name }}</span>
                <span><strong>Last Name: </strong>{{ order.lastName }}</span>
                <span><strong>Email: </strong>{{ order.email }}</span>
            </sn-stack>
        </sn-col>
        <sn-col [tablet]="6"
                [mobile]="12">
            <h3>Products: </h3>
            <sn-stack
                    *ngFor="let item of order.items"
                    [orientation]="ui.orientation.horizontal"
                    [padding]="ui.gutter.small"
                    [align]="ui.align.center">
                <sn-picture
                        [title]="item.product.title"
                        [alt]="item.product.title"
                        [src]="item.product.img"
                        width="70px"
                        height="70px">
                </sn-picture>
                <span><strong>{{ item.product.title }}</strong></span>
                <span>{{ item.quantity }} x {{ item.product.price | currency }}</span>
                <span><strong>{{ item.amountTotal | currency }}</strong></span>
            </sn-stack>
            <sn-stack
                    [orientation]="ui.orientation.horizontal">
                <h4>Total: {{ order.totalCost | currency }}</h4>
            </sn-stack>
        </sn-col>
    </sn-row>
</sn-card>
