<sn-app-page-header
        title="Catalog"
        teaser="Products of all categories"></sn-app-page-header>

<ng-template #categoriesLoading>
    <sn-row *ngIf="progress.categories" [justify]="ui.justify.center">
        <sn-col *ngFor="let col of 8 | mockArray"
                [desktop]="3"
                [tablet]="4">
            <sn-skeleton [type]="ui.skeleton.type.card"></sn-skeleton>
        </sn-col>
    </sn-row>
</ng-template>

<sn-row
        *ngIf="categories.length > 0; else categoriesLoading"
        [justify]="ui.justify.center">
    <sn-col
            *ngFor="let category of categories"
            [desktop]="3"
            [tablet]="4">
        <sn-card
                title="{{ category.title }}"
                [features]="[ui.feature.adapted, ui.feature.clickable]"
                [routerLink]="'categories/' + category.slug"
                [orientation]="ui.orientation.vertical"
                [picture]="{template: cardPictureTemplate, width: 200, height: 200}">
            <ng-template #cardPictureTemplate>
                <sn-picture
                        src="{{ category.img }}"
                        [alt]="category.title"
                        [title]="category.title">
                </sn-picture>
            </ng-template>
        </sn-card>
    </sn-col>
</sn-row>
