<sn-row [align]="ui.align.center"
        [justify]="ui.justify.center">
    <sn-col [desktop]="5"
            [tablet]="6">
        <sn-block title="Login"
                  [width]="ui.width.fluid">
            <app-login (logged)="redirect()"></app-login>
        </sn-block>
    </sn-col>
</sn-row>



