<sn-app-aside #aside>
    <sn-menu [orientation]="ui.orientation.vertical"
             [gutter]="ui.gutter.small">
        <sn-menu-item title="Profile"
                      [icon]="ui.icons.profile"
                      [link]="['profile']"></sn-menu-item>
        <sn-menu-item title="Account"
                      [icon]="ui.icons.user"
                      [link]="['account']"></sn-menu-item>
        <sn-menu-item title="Orders"
                      [icon]="ui.icons.money"
                      [link]="['orders']"></sn-menu-item>
    </sn-menu>
</sn-app-aside>

<sn-app-content [aside]="aside">
    <sn-app-body>
        <sn-container>
            <router-outlet></router-outlet>
        </sn-container>
    </sn-app-body>
    <sn-app-footer>
        <small>Shope 2021</small>
    </sn-app-footer>
</sn-app-content>
