<ng-template #loadingUserProfile>
    <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-skeleton
                [type]="ui.skeleton.type.image"
                [size]="ui.size.large"></sn-skeleton>
        <sn-skeleton [lines]="3"></sn-skeleton>
    </sn-stack>
</ng-template>

<sn-card *ngIf="!loading; else loadingUserProfile"
          [width]="ui.width.fluid"
          [features]="[ui.feature.adapted]">
    <sn-row>
        <sn-col [tablet]="3">
            <sn-picture
                    [src]="user.avatar">
            </sn-picture>
        </sn-col>
        <sn-col [tablet]="9">
            <h3>{{ user.firstName }} {{ user.lastName }}</h3>
            <span><strong>E-mail: </strong>{{ user.email }}</span>
        </sn-col>
    </sn-row>
</sn-card>
