<sn-card [width]="ui.width.fluid"
         [features]="[ui.feature.adapted]">
    <sn-form #formRef
             [state]="progress.loadUser || progress.updateUser ? ui.state.loading : null"
             [formGroup]="form"
             (submitted)="update()">
        <sn-stack [align]="ui.align.stretch">
            <sn-row>
                <sn-col [tablet]="6"
                        [mobile]="12">
                    <sn-form-item>
                        <sn-form-label for="firstName">Your Name</sn-form-label>
                        <sn-form-control name="firstName">
                            <sn-input formControlName="firstName"
                                      [type]="ui.input.type.text"></sn-input>
                            <sn-form-message [validator]="ui.validator.required">
                                This field is required
                            </sn-form-message>
                        </sn-form-control>
                    </sn-form-item>
                </sn-col>
                <sn-col [tablet]="6"
                        [mobile]="12">
                    <sn-form-item>
                        <sn-form-label for="lastName">Your Last name</sn-form-label>
                        <sn-form-control name="lastName">
                            <sn-input formControlName="lastName"
                                      [type]="ui.input.type.text"></sn-input>
                            <sn-form-message [validator]="ui.validator.required">
                                This field is required
                            </sn-form-message>
                        </sn-form-control>
                    </sn-form-item>
                </sn-col>
            </sn-row>
            <sn-form-item>
                <sn-form-label for="email">Your E-mail</sn-form-label>
                <sn-form-control name="email">
                    <sn-input formControlName="email"
                              [type]="ui.input.type.text"></sn-input>
                    <sn-form-message [validator]="ui.validator.required">
                        This field is required
                    </sn-form-message>
                    <sn-form-message [validator]="ui.validator.email">
                        Enter a valid email
                    </sn-form-message>
                </sn-form-control>
            </sn-form-item>
            <ng-template #formFooterTemplate>
                <sn-button text="Update"
                           [type]="ui.button.type.submit">
                </sn-button>
            </ng-template>
        </sn-stack>
    </sn-form>
</sn-card>
