<sn-app-page-header
        title="{{category.title}}"></sn-app-page-header>

<ng-template #productsLoading>
    <sn-row *ngIf="progress.products" [justify]="ui.justify.center">
        <sn-col *ngFor="let col of 8 | mockArray"
                [desktop]="3"
                [tablet]="4">
            <sn-skeleton [type]="ui.skeleton.type.card"></sn-skeleton>
        </sn-col>
    </sn-row>
</ng-template>

<sn-row
        *ngIf="products.length > 0; else productsLoading"
        [justify]="ui.justify.center">
    <sn-col
            *ngFor="let product of products"
            [desktop]="3"
            [tablet]="4">
        <sn-card
                [title]="product.title"
                [features]="[ui.feature.adapted, ui.feature.clickable]"
                [routerLink]="product.id"
                [orientation]="ui.orientation.vertical"
                [picture]="{template: cardPictureTemplate, width: 200, height: 200}">
            <ng-template #cardPictureTemplate>
                <sn-picture
                        src="{{ product.img }}"
                        [alt]="product.title"
                        [title]="product.title">
                </sn-picture>
            </ng-template>
        </sn-card>
    </sn-col>
</sn-row>
