<sn-block
    #block
    [title]="product.title"
    [width]="ui.width.fluid"
    [features]="[ui.feature.adapted]">
    <sn-row>
        <sn-col [tablet]="5">
            <sn-picture
                    [title]="product.title"
                    [alt]="product.title"
                    [src]="product.img">
            </sn-picture>
        </sn-col>
        <sn-col [tablet]="7">
            <sn-stack [orientation]="ui.orientation.vertical">
                <p data-description>{{ product.description }}</p>
                <h2 data-price>{{ product.price | currency }}</h2>
            </sn-stack>
        </sn-col>
    </sn-row>
    <ng-template #blockFooterTemplate>
        <sn-stack
                [orientation]="ui.orientation.horizontal"
                [justify]="ui.justify.end">
            <sn-button data-add
                    [scheme]="ui.scheme.secondary"
                    (click)="addToCart(product)"
                    text="Add to Cart"></sn-button>
        </sn-stack>
    </ng-template>
</sn-block>
