<sn-form #formRef
         [formGroup]="form"
         (checked)="warnings = $event"
         (submitted)="login()">
    <sn-stack [gutter]="ui.gutter.small"
              [align]="ui.align.stretch">
        <sn-form-item>
            <sn-form-control name="username">
                <sn-input formControlName="username"
                          name="username"
                          [autocomplete]="ui.input.autocomplete.on"
                          [placeholder]="'Email or login'">
                </sn-input>
                <sn-form-message [validator]="ui.validator.required">
                    This field is required
                </sn-form-message>
            </sn-form-control>
        </sn-form-item>
        <sn-form-item>
            <sn-form-control name="password">
                <sn-input formControlName="password"
                          name="password"
                          [autocomplete]="ui.input.autocomplete.on"
                          [placeholder]="'Password'"
                          [type]="ui.input.type.password"
                          [snShortcuts]="[{key: ui.keyboard.key.enter, action: submit.bind(this)}]">
                </sn-input>
                <sn-form-message [validator]="ui.validator.required">
                    This field is required
                </sn-form-message>
            </sn-form-control>
        </sn-form-item>
        <sn-button [type]="ui.button.type.submit"
                   [scheme]="warnings.length > 0 ? ui.scheme.fail : ui.scheme.primary"
                   [icon]="warnings.length > 0 ? ui.icons.warning : ui.icons.login"
                   [loading]="progress.login"
                   [width]="ui.width.fluid"
                   [disabled]="warnings.length > 0"
                   [text]="'Login'">
        </sn-button>
    </sn-stack>
</sn-form>
