<ng-template #emptyCart>
    <sn-stack [orientation]="ui.orientation.horizontal"
              [align]="ui.align.center"
              [justify]="ui.justify.center">
        <h4>Cart is empty</h4>
    </sn-stack>
</ng-template>

<div *ngIf="cart.items.length > 0; else emptyCart">
    <sn-stack *ngFor="let item of cart.items"
              [orientation]="ui.orientation.horizontal"
              [align]="ui.align.center"
              [justify]="ui.justify.between">
        <h3>{{ item.product.title }}</h3>
        <span>{{ item.quantity }} x {{ item.product.price | currency }}</span>
        <sn-button [scheme]="ui.scheme.fail"
                   [size]="ui.size.small"
                   [outline]="ui.outline.transparent"
                   [icon]="ui.icons.delete"
                   (click)="deleteCartItem(item.product.id)">
        </sn-button>
    </sn-stack>
    <sn-stack [orientation]="ui.orientation.horizontal"
              [justify]="ui.justify.end">
        <h3>Total: {{ cart.totalCost | currency }}</h3>
    </sn-stack>
</div>
<sn-stack [orientation]="ui.orientation.horizontal"
          [justify]="ui.justify.center">
    <sn-button text="Go to Cart"
               [routerLink]="['/cart']"
               [scheme]="ui.scheme.secondary"
               [size]="ui.size.small"
               [width]="ui.width.fluid"
               [outline]="ui.outline.ghost"></sn-button>
</sn-stack>
