<sn-block
        [width]="ui.width.fluid"
        [padding]="ui.gutter.none">
    <sn-form [formGroup]="form">
        <sn-table #table formControlName="table">
            <sn-table-column title="#"
                             width="15%">
                <ng-template #tableCellTemplate let-id="id">
                    <sn-link title="Order #{{ id }}"
                             [source]="[id]"></sn-link>
                </ng-template>
            </sn-table-column>
            <sn-table-column title="Status"
                             [align]="ui.text.align.center">
                <ng-template #tableCellTemplate let-status="status">
                    <sn-stack [orientation]="ui.orientation.horizontal"
                              [justify]="ui.justify.center">
                        <sn-label label="{{ status }}"
                                  color="primary"
                                  [outline]="ui.outline.fill"></sn-label>
                    </sn-stack>
                </ng-template>
            </sn-table-column>
            <sn-table-column title="Total Quantity"
                             width="25%"
                             [align]="ui.text.align.right">
                <ng-template #tableCellTemplate
                             let-totalQuantity="totalQuantity">
                    <sn-stack [orientation]="ui.orientation.horizontal"
                              [justify]="ui.justify.end">{{ totalQuantity }}</sn-stack>
                </ng-template>
            </sn-table-column>
            <sn-table-column title="Total Cost"
                             width="25%"
                             [align]="ui.text.align.right">
                <ng-template #tableCellTemplate
                             let-totalCost="totalCost">
                    <sn-stack [orientation]="ui.orientation.horizontal"
                              [justify]="ui.justify.end">{{ totalCost | currency }}</sn-stack>
                </ng-template>
            </sn-table-column>
        </sn-table>
    </sn-form>
</sn-block>
