<sn-row>
    <sn-col [desktop]="8">
        <sn-form #formRef
                 title="Checkout"
                 [state]="loading ? ui.state.loading : null"
                 [formGroup]="form"
                 (submitted)="addOrder()">
            <sn-stack [align]="ui.align.stretch">
                <sn-row>
                    <sn-col
                            [tablet]="6"
                            [mobile]="12">
                        <sn-form-item>
                            <sn-form-label for="name">Your Name</sn-form-label>
                            <sn-form-control name="name">
                                <sn-input
                                        formControlName="name"
                                        [type]="ui.input.type.text"></sn-input>
                                <sn-form-message [validator]="ui.validator.required">
                                    This field is required
                                </sn-form-message>
                            </sn-form-control>
                        </sn-form-item>
                    </sn-col>
                    <sn-col
                            [tablet]="6"
                            [mobile]="12">
                        <sn-form-item>
                            <sn-form-label for="lastName">Your Last name</sn-form-label>
                            <sn-form-control name="lastName">
                                <sn-input
                                        formControlName="lastName"
                                        [type]="ui.input.type.text"></sn-input>
                                <sn-form-message [validator]="ui.validator.required">
                                    This field is required
                                </sn-form-message>
                            </sn-form-control>
                        </sn-form-item>
                    </sn-col>
                </sn-row>
                <sn-form-item>
                    <sn-form-label for="email">Your E-mail</sn-form-label>
                    <sn-form-control name="email">
                        <sn-input
                                formControlName="email"
                                [type]="ui.input.type.text"></sn-input>
                        <sn-form-message [validator]="ui.validator.required">
                            This field is required
                        </sn-form-message>
                        <sn-form-message [validator]="ui.validator.email">
                            Enter a valid email
                        </sn-form-message>
                    </sn-form-control>
                </sn-form-item>
                <ng-template #formFooterTemplate>
                    <sn-button
                            text="Order"
                            [type]="ui.button.type.submit">
                    </sn-button>
                </ng-template>
            </sn-stack>
        </sn-form>
    </sn-col>
    <sn-col [desktop]="4">
        <sn-block *ngIf="cart?.items.length > 0"
                  [width]="ui.width.fluid"
                  [features]="[ui.feature.adapted]"
                  title="Cart">
            <sn-stack
                    *ngFor="let item of cart.items"
                    [orientation]="ui.orientation.horizontal"
                    [align]="ui.align.center"
                    [justify]="ui.justify.between"
                    [padding]="ui.gutter.small">
                <h4>{{ item.product.title }}</h4>
                <span>{{ item.quantity }} x {{ item.product.price | currency }}</span>
                <h4>{{ item.amountTotal | currency }}</h4>
            </sn-stack>
            <sn-stack
                    [orientation]="ui.orientation.horizontal"
                    [justify]="ui.justify.end">
                <h4>Total: {{ cart.totalCost | currency }}</h4>
            </sn-stack>
        </sn-block>
    </sn-col>
</sn-row>
